@font-face {
  font-family: "Magmatic";
  src: url("./MagmaticVF.ttf") format('truetype');

  font-style: normal;
  font-display: swap;

}


@font-face {
  font-family: "Mantar";
  src: url("./Mantar-Ultra.woff2") format('woff2'),
       url("./Mantar-Ultra.woff") format('woff'),
       url("./Mantar-Ultra.eot") format('eot');

  font-weight: 900;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Mantar";
  src: url("./Mantar-UltraItalic.woff2") format('woff2'),
       url("./Mantar-UltraItalic.woff") format('woff'),
       url("./Mantar-UltraItalic.eot") format('eot');

  font-weight: 900;
  font-style: italic;
  font-display: swap;

}


@font-face {
  font-family: "Mantar";
  src: url("./Mantar-Black.woff2") format('woff2'),
       url("./Mantar-Black.woff") format('woff'),
       url("./Mantar-Black.eot") format('eot');

  font-weight: 800;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Mantar";
  src: url("./Mantar-BlackItalic.woff2") format('woff2'),
       url("./Mantar-BlackItalic.woff") format('woff'),
       url("./Mantar-BlackItalic.eot") format('eot');

  font-weight: 800;
  font-style: italic;
  font-display: swap;

}


@font-face {
  font-family: "Mantar";
  src: url("Mantar-Bold.woff2") format('woff2'),
       url("Mantar-Bold.woff") format('woff'),
       url("Mantar-Bold.eot") format('eot');

  font-weight: 700;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Mantar";
  src: url("Mantar-BoldItalic.woff") format('woff2'),
       url("Mantar-BoldItalic.woff") format('woff'),
       url("Mantar-BoldItalic.eot") format('eot');

  font-weight: 700;
  font-style: italic;
  font-display: swap;

}


@font-face {
  font-family: "Mantar";
  src: url("Mantar-Regular.woff") format('woff2'),
       url("Mantar-Regular.woff") format('woff'),
       url("Mantar-Regular.eot") format('eot');

  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Mantar";
  src: url("Mantar-Italic.woff2") format('woff2'),
       url("Mantar-Italic.woff") format('woff'),
       url("Mantar-Italic.eot") format('eot');

  font-weight: 400;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: "Mantar";
  src: url("Mantar-Light.woff2") format('woff2'),
       url("Mantar-Light.woff") format('woff'),
       url("Mantar-Light.eot") format('eot');

  font-weight: 300;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Mantar";
  src: url("Mantar-LightItalic.woff2") format('woff2'),
       url("Mantar-LightItalic.woff") format('woff'),
       url("Mantar-LightItalic.eot") format('eot');

  font-weight: 300;
  font-style: italic;
  font-display: swap;

}


@font-face {
  font-family: "Mantar";
  src: url("Mantar-ExtraLight.woff2") format('woff2'),
       url("Mantar-ExtraLight.woff") format('woff'),
       url("Mantar-ExtraLight.eot") format('eot');

  font-weight: 280;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Mantar";
  src: url("Mantar-ExtraLightItalic.woff2") format('woff2'),
       url("Mantar-ExtraLightItalic.woff") format('woff'),
       url("Mantar-ExtraLightItalic.eot") format('eot');

  font-weight: 280;
  font-style: italic;
  font-display: swap;

}


.georgia {
  font-family: "Georgia", serif;
}

.mantar {
  font-family: "Mantar", serif;
}

.extra-light {
  font-weight: 280;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 800;
}

.ultra {
  font-weight: 900;
}

.italic {
  font-style: italic;
}
