@import "./reset.css";
@import "./fonts/fonts.css";
@import "./specimen.css";

* {
	/* cursor: url("./fonts/cursor.svg") 10 0, auto; */
	/*cursor: none;*/
}

html
{
	--breakpoint: 700px;
	overflow: hidden;
	height:100%;
}

body
{
  background-color: black;
  font-weight: 300;
  box-sizing: border-box;
	height:100%;

	--curve: cubic-bezier(1,.33,.73,.71);
	 --time: 850ms; 
	/*--time: 1350ms;*/
}

/* Debugging text frames */

#margin-container.debug
{
	border-top: 1px solid red;
}

#primary-text-frame
{
	display: block;
	top:0;
	height:80vh;
	margin:1rem;
}
#primary-text-frame.debug
{
	border-bottom:2px solid red;
}

.sidebar-text-frame
{

	font-family: "Mantar";

	display:none;
	position: relative;
	width:25vw;
	height:80vh;
	margin:1rem;
}
.sidebar-text-frame.debug
{

	border-bottom:1px solid red;
}

.sidebar-text-bottom-anchor {
	position: absolute;
	bottom:0;
	width:100%;
}

.story-frame
{
	display: block;
  color:white;
  height:fit-content;
	/* TODO: figure out the right max width */
	max-width: 1000px;

	/* -webkit-backface-visibility: hidden; */
	/* -webkit-perspective: 1000; */
  /* backface-visibility: hidden; */
	/* transform-style: preserve-3d; */
	/* perspective: 550px; */
	/* overflow: visible; */
	/* mix-blend-mode: difference; */

	/* TODO: Edit this later */
	font-size:calc(max(31px, min(5vw, 40px)));
	line-height: 1.13em;
	/* line-height: calc(min(max(1.1em, 6vw), 1.15em)); */
}
.story-frame.specimen {
	width: 75%;
	max-width: 75%;
}
.story-frame.specimen-word {
	width: 200%;
	max-width: 200%;
}
.story-frame.debug
{
	border-bottom:2px solid orange;
}

#primary-text-frame.ended,
.story-frame.ended,
.margin-text-frame.ended,
#sidebar-text-frame.ended
{
	display:none;
}

.margin-text-frame
{
	font-family: "Mantar";

	position: absolute;
	top:85vh;
  color:white;
  display:flex;
  flex-wrap: wrap;
	margin:1rem;

  font-weight: 100;
  width:calc(100vw - 2rem);
}

.margin-text-frame .word,
.margin-text-frame .channel
{
	white-space: normal;
	width: 29vw;
	margin-right: 2vw;
}

.sidebar-text-frame .word,
.sidebar-text-frame .channel
{
	white-space: normal;
	width: 100%;
	margin-bottom: 2vw;
}

.sidebar-text-frame .word:last-child,
.sidebar-text-frame .channel:last-child
{
	margin-bottom:0;
}

.end-text-frame
{
	font-family: "Mantar";
	display: none;
	color:white;
	opacity: 0;
	margin:1rem;
	transition:opacity 4s;
}
.end-text-frame.active
{
	display: block;
}
.end-text-frame:not(.pending)
{
	opacity: 1;
}
.end-text-frame.debug
{
	/* border:1px solid cyan; */
}

.end-text-frame .story-box
{
	height:50vh;
}
.end-text-frame h1
{
	font-size: 72px;
	font-weight: 900;
	margin-bottom:0.5em;
}

.end-text-frame #edition-number
{
	font-size: 36px;
}


.end-text-frame .meta-box
{
	font-size: calc(max(2vh, 18px));
	display:flex;
  flex-wrap: wrap;
	/* border-top: 1px dotted white; */
	padding-top:1em;
	font-weight:100;

}
.end-text-frame .story-column
{
	width:49%;
	line-height: 1.1em;
}
.end-text-frame .story-column:first-child
{
	margin-right:2%;
}

.end-text-frame .story-column h2
{
	font-size: calc(max(2.5vh, 24px));
	font-weight: 600;
	margin-bottom:1em;
}



.end-text-frame .story-column p
{
	margin-bottom:1em;
}

.end-text-frame .story-column a
{
	color:inherit;
	/* border-bottom:1px solid white; */
}


#state-indicator
{
	position: absolute;
	font-family: "Mantar";

	display: flex;

	display:none;

	text-align: center;
	justify-content: center;
	flex-direction: column;
	font-size: 52px;

	right:20px;
	bottom:20px;

	width:25px;
	height:25px;
	color: #fff;
	background-color: #000;
	border-radius: 50%;

	opacity:0;
}

#state-indicator.active {
	opacity:1;
}
#state-indicator.done
{
	opacity:0;
	transition:opacity 2s;
}
#state-indicator.transition {
	opacity:1;
	transition:opacity 50ms;
}

/* ::selection {
	color:black;
	background: gray;
} */


.word
{
	display: inline-block;
	color:white;
	/* white-space: nowrap; */

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	/* transform: translateZ(0); */
	background-color: transparent;

	transition:
		opacity calc(var(--time) / 4) var(--curve),
		filter var(--time) var(--curve),
		color var(--time) var(--curve);
}

.word a {
	color:white;
	text-decoration: none;
	font-style: italic;
	/* filter:blur(20px);
	transition: filter 250ms var(--curve); */

}
.word a:hover {
	/* filter:blur(0px);
	transition: filter 250ms var(--curve); */
	color: yellow;
}

br.word {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
					user-select: none; /* Non-prefixed version, currently
																supported by Chrome, Edge, Opera and Firefox */
}

.no-break {
	white-space: nowrap;
}

.channeled-word
{
	position: relative;
}

.word.pending, .channeled-word.pending
{
  color:transparent;
	filter: blur(30px);
	opacity:0;
}


.r-channel {color:rgb(255, 0, 0);}

.g-channel {color:rgb(0, 255, 0);}

.b-channel {color:rgb(0, 0, 255);}


.word.pending .channel,
.word.pending .r-channel,
.word.pending .g-channel,
.word.pending .b-channel,
.word.pending .static-channel
{
	color:transparent;
	filter: blur(10px);
	opacity: 0;
	/* mix-blend-mode: color-dodge; */
}


/* Channelled-word specific styles */

.channel {
	display: inline-block;
	position: absolute;
	top:0;
	left:0;

	/* mix-blend-mode: color-dodge; */
	transition:
		opacity var(--time) var(--curve),
		filter var(--time) var(--curve),
		color var(--time) var(--curve);
}

/* .word .static-channel
{
	opacity: 1;
} */


/* Marginalia Sizes across screen widths */

/* Sidebar visible */

/* @media screen and (min-width:1250px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 17vw;
		margin-right: 2vw;
	}

	.margin-text-frame .word:nth-child(n+6)
	{
		display: none;
	}

	#sidebar-text-frame
	{
		width:17vw;
		margin-right: 2vw;
		display:block;
	}

	#primary-text-frame
	{
		position:absolute;
		left:19vw;

		width:calc(81vw - 2rem);
	}
} */

/*
@media screen and (min-width:1000px) and (max-width:1250px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 21vw;
		margin-right: 2vw;
	}

	.margin-text-frame .word:nth-child(n+5)
	{
		display: none;
	}

	#sidebar-text-frame
	{
		width:20vw;
		margin-right: 2vw;
		display:block;
	}
} */



/* No sidebar visible */
/*
@media screen and (min-width:750px) and (max-width:1000px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 29vw;
		margin-right: 2vw;
	}

	.margin-text-frame .word:nth-child(n+4)
	{
		display: none;
	}
} */

/*
@media screen and (min-width:580px) and (max-width:750px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 27vw;
		margin-right: 3.5vw;
	}

	.margin-text-frame .word:nth-child(n+4)
	{
		display: none;
	}

	.end-text-frame .story-box
	{
		height:25vh;
	}

	.end-text-frame .story-column
	{
		width:60%;
		margin-bottom:2em;
	}
} */
/*
@media screen and (max-width:580px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 40vw;
		margin-right: 4.5vw;
	}

	.margin-text-frame .word:nth-child(n+3)
	{
		display: none;
	}

	.end-text-frame .story-box
	{
		height:25vh;
	}

	.end-text-frame .story-column
	{
		width:80%;
		margin-bottom:2em;
	}
} */


/* Extra letter spacing for smaller sizes. */
@media screen and (max-width:750px) {
	.story-frame {
			letter-spacing: 0.2px;
	}
}

/* Extra letter spacing for smaller sizes. */
@media screen and (max-width:420px) {
	.story-frame.specimen {
		width:95%;
		max-width: 95%;
	}
}
