@import "./fonts/fonts.css";

html
{
	--breakpoint: 700px;
	overflow: hidden;
	height:100%;
}

body
{
  background-color: black;
  font-weight: 300;
  box-sizing: border-box;
	height:100%;
	overflow:auto;
}

/* Debugging text frames */

/*
.story-frame {
	border:1px solid red;
}

.margin-text-frame {
	border:1px solid red;
} */

.story-frame
{
	position: relative;
  color:white;
  font-size:3em;
  height:80vh;
	margin:1rem;

	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
  backface-visibility: hidden;
	transform-style: preserve-3d;
	perspective: 550px;
	overflow: visible;
}

.margin-text-frame
{
	position: absolute;
	bottom:0vh;
  color:white;
  display:flex;
  flex-wrap: wrap;
	margin:1rem;

  font-weight: 100;
  /* width:fit-content; */
}

.margin-text-frame .word,
.margin-text-frame .channel
{
	white-space: normal;
	width: 29vw;
	margin-right: 2vw;
}


.word
{
	display: inline-block;
	color:white;
	white-space: nowrap;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	transform: translateZ(0);
}

.channeled-word
{
	position: relative;
}

.word.pending, .channeled-word.pending
{
  color:transparent;
	filter: blur(10px);
}


.r-channel {color:rgb(255, 0, 0);}

.g-channel {color:rgb(0, 255, 0);}

.b-channel {color:rgb(0, 0, 255);}


.word.pending .channel,
.word.pending .r-channel,
.word.pending .g-channel,
.word.pending .b-channel
{
	color:transparent;
	filter: blur(10px);
	mix-blend-mode: normal;
}


/* Channelled-word specific styles */

.channel {
	display: inline-block;
	position: absolute;
	top:0;
	left:0;

	mix-blend-mode: color-dodge;
	transition:
		opacity 1000ms cubic-bezier(0.7, 0, 0.84, 0),
		filter 1000ms cubic-bezier(0.7, 0, 0.84, 0),
		color 1000ms cubic-bezier(0.7, 0, 0.84, 0);
}

.static-channel {
	opacity: 0;
}

/* Marginalia Sizes across screen widths */

@media screen and (min-width:1250px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 17vw;
		margin-right: 2vw;
	}

	.margin-text-frame .word:nth-child(n+6)
	{
		display: none;
	}
}


@media screen and (min-width:1000px) and (max-width:1250px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 21vw;
		margin-right: 2vw;
	}

	.margin-text-frame .word:nth-child(n+5)
	{
		display: none;
	}
}


@media screen and (min-width:750px) and (max-width:1000px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 29vw;
		margin-right: 2vw;
	}

	.margin-text-frame .word:nth-child(n+4)
	{
		display: none;
	}
}


@media screen and (min-width:580px) and (max-width:750px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 27vw;
		margin-right: 3.5vw;
	}

	.margin-text-frame .word:nth-child(n+4)
	{
		display: none;
	}
}

@media screen and (max-width:580px) {
	.margin-text-frame .word,
	.margin-text-frame .channel
	{
		white-space: normal;
		width: 40vw;
		margin-right: 4.5vw;
	}

	.margin-text-frame .word:nth-child(n+3)
	{
		display: none;
	}
}
