#specimen-frame {
  position:absolute;
  top:100vh;
  left:0;
  width:100vw;
  height:80vh;

  color:white;
  font-family:"Mantar";

  background-color: black;

  transition:top 350ms;

  z-index: 1000;
}

#specimen-frame.active {
  position:absolute;
  top:20vh;
  left:0;

  border-top:1px dashed #fff;

}

#specimen-frame .typeface-row
{
  width:100vw;
  font-size:calc(min(9vw, 5vh));
  text-align:  center;
  margin-bottom:calc(min(4vw, 4vh));
}

#specimen-frame .typeface-row:first-child
{
  margin-top:calc(min(4vw, 4vh));
}

#specimen-frame .typeface-meta
{
  width:100vw;
  font-size:calc(min(2.5vw, 2vh));
  text-align:  center;
  padding-left:calc(min(8vw, 2.5vh));
  margin-bottom:0.4em;
}

#specimen-frame .typeface-italic
{
  font-style: italic;
}


#specimen-frame .typeface-ultralight
{
  font-weight: 200;
}


/* colors */

.yellow {
  color: rgb(255, 241, 0);
}

.red {
  color: rgb(236, 28, 36);
}

.blue {
  color: rgb(0, 173, 238);
}

.magenta {
  color: rgb(255, 3, 249);
}

.teal {
  color: rgb(65, 255, 244);
}

.green {
  color: rgb(12, 248, 1);
}


#story-stage {
  transition:filter 500ms, top 350ms;
}
#story-stage.deactivated {
  filter:blur(10px);
}


#specimen-toggle
{
  position: absolute;
  bottom:1rem;
  left:1rem;

  font-family: "Mantar";
  font-weight:100;
  font-size:42px;

  /* color:red; */
  color:#fff;

  transition:top 250ms, bottom 250ms, left 250ms, color 250ms;
  cursor:pointer;
}
#specimen-toggle.active {
  bottom:calc(100vh - 3rem);
  left:calc(50vw - 1rem);
  font-weight:900;
}

#specimen-toggle:hover
{
  /* bottom:1.5vh; */
  animation: hover-specimen-toggle 400ms;
  font-weight: 900;
}

#specimen-toggle.active:hover {
  animation: hover-specimen-toggle reverse 400ms;
  font-weight: 100;
}

#specimen-toggle.transitioning
{
  color:#555;
  cursor:pointer;
}

@keyframes hover-specimen-toggle {
  0% {
    font-weight: 100;
  }
  20% {
    font-weight: 200;
  }
  40% {
    font-weight: 400;
  }
  60% {
    font-weight: 600;
  }
  78% {
    font-weight: 800;
  }
  100% {
    font-weight: 900;
  }
}
