@import "../reset.css";
@import "../fonts/fonts.css";
@import "../specimen.css";

svg {
  background-color:white;
}

.graph-title
{
  fill:black;
  font-size:32px;
}

.links path {
  stroke: black;
  fill:transparent;
}

.links .prev {
  stroke-dasharray: 2;
}

.nodes circle {
  stroke: #000;
  stroke-width: 1.5px;
}

text {
  font-family: "Mantar", sans-serif;
  font-size: 14px;
  font-weight: 300;
  fill: black;
}

.text-info
{
  font-size:10px;
}


#end-container
{
  display:none;
}
